<div class="container">
    <div class="col-xs-12 disable_padding container_helpcenter">
        <div class="col-xs-12 col-sm-12 col-md-12 disable_padding">
            {{message}}
        </div>
    </div>
</div>
