<div class="container">
    <div class="col-xs-12 disable_padding container_helpcenter">
        <div class="col-xs-12 col-sm-12 col-md-12 disable_padding">
            <h2> <i style="font-size:35px; margin-right: 15px;" class="icon-cogs"></i>{{error_title}} !</h2>
            <p class="moffset3">{{message}}</p>

        </div>
    </div>
</div>
