<div style='clear: both;'></div>
<div class="message-container">
    <div class="col-xs-12">
        <div class="message-recipient">
            <label>Kime</label>
            <div>{{fullname}}</div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 moffset2">
        <textarea style="min-height:100px" data-form-element="message" maxlength="300" placeholder="Mesajınız" class="form-control"></textarea>
    </div>

    <div class='col-xs-12 text-left moffset1'>
        <button type="button" class='message-btn default_btn'>Gönder</button>
    </div>
    <div class='col-xs-12 moffset1'>
        <div style="clear:both;"></div>
        <div data-zone="notification"></div>
    </div>
</div>
<div style='clear:both;'></div>