<div style='clear: both;'></div>
<div class="feedback-form">
    <div class="col-xs-12 col-sm-12 col-md-12 moffset2">
        <h2 class="disable_margin">Lütfen aşağıdaki bilgileri doldurun. </h2>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 moffset1">

        <p>Geri bildiriminiz en kısa sürede değerlendirilerek konuyla ilgili sizlere bilgi verilecektir. Lütfen aşağıdaki formu eksiksiz bir şekilde doldurunuz.  Eksik veya hatalı geri bildirimler incelenmemektedir. </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 disable_padding moffset2">
        <div class='col-xs-12 moffset1'>
            <input type='text' data-form-element="fullname" value="{{name}} {{lastname}}" class='form-control' placeholder='Ad soyad'>
        </div>
        <div class='col-xs-12 moffset1'>
            <input type='email' data-form-element="email" class='form-control' value="{{email}}" placeholder='E-posta adresiniz'>
        </div>
        <div style='clear:both'></div>
        <div class="col-xs-12 moffset1">
            <textarea style="min-height:100px" data-form-element="description" maxlength="300" placeholder="Mesajınız" class="form-control"></textarea>
            <div class='col-xs-12 text-left disable_padding moffset2'>
                <button type="button" class='feedback-btn default_btn'>Tamam</button>
            </div>
        </div>
        <div class='col-xs-12 moffset1'>
            <div style="clear:both;"></div>
            <div data-zone="notification"></div>
        </div>
    </div>
</div>
<div style='clear:both;'></div>