<div class="search-result-footer hidden-xs hidden-sm">
    <h2 class="fleft"> Toplam {{count}} sonuç bulundu</h2>
    <ul class="fright">
     {{#each locations}}
     <li> {{this}}</li>
        {{/each}}
    <li> bölgesindeki sonuçlar</li>
    </ul>
</div>