<div class="container disable_padding">
<div class="location-searchbox col-xs-12 disable_padding col-sm-12 col-md-12">
    <div class="col-xs-2 col-sm-2 col-md-1 searchbox-filter-container disable_padding text-center">
        <button href="#" class="btn search-cordi-btn fullwidth"></button>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-9 searchbox-container disable_padding">
        <input placeholder="Nereye seyahat edeceksiniz ?" class="form-control searchtxt_searchmap"/>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 searchbox-filter-container disable_padding text-right">
        <button href="#" class="advert-search-btn fullwidth text-center"><span class="hidden-xs hidden-sm"> Daha Fazla Filtre</span></button>
    </div>
</div>
<div class="col-xs-12 disable_padding col-sm-12 col-md-7">
    <button class="search-refresh-btn"></button>
    <div id="map" class="mapsearch col-xs-12 col-sm-12 col-md-8 disable_padding"></div>
</div>
<div class="hidden-xs hidden-sm disable_padding col-md-5 advert-list-container animated" data-zone="advert-list"></div>
<div class="col-xs-12 visible-xs visible-sm advert-slide-container up">
    <div class="advert-slide-down down"></div>
    <div data-zone="adverts-slidelist" class="adverts-slidelist"></div>
</div>
</div>