<div class="disable_padding">

<div class="col-xs-12 disable_padding col-sm-12 col-md-7 map-container">
    <div class="location-searchbox col-xs-12 disable_padding col-sm-12 col-md-12">
        <input placeholder="Nereye seyahat edeceksiniz ?" class="form-control searchtxt_searchmap"/>
        <button href="#" class="advert-search-btn fullwidth text-center"><i class="icon-equalizer2"></i><span class="hidden-xs hidden-sm"> Daha Fazla Filtre</span></button>
    </div>
    <button class="search-refresh-btn"></button>
    <button class="search-cordi-btn"></button>
    <div id="map" class="mapsearch col-xs-12 col-sm-12 col-md-8 disable_padding"></div>
</div>
<div class="hidden-xs hidden-sm disable_padding col-md-5 search-advert-results advert-list-container animated" data-zone="advert-list"></div>
<div class="col-xs-12 visible-xs visible-sm advert-slide-container up">
    <div class="advert-slide-down down"></div>
    <div data-zone="adverts-slidelist" class="adverts-slidelist"></div>
</div>
</div>
<div style="clear: both;"></div>