<div style='clear: both;'></div>
<div class="visitor-container">
    <div class='col-xs-12 text-center'>
        <div data-zone="notification"></div>
    </div>
    <div class='col-xs-12 moffset1'>
        <div class="form-group">
            <label for="ad">Ad Soyad </label>
            <input type="text" data-form-element="fullname" class="form-control" maxlength="90" placeholder="Ad Soyad">
        </div>
        <div class="form-group">
            <label for="ad">TC No </label>
            <input type="number" data-form-element="tc" class="form-control" mask="00000000000" maxlength="11" placeholder="TC kimlik no">
        </div>
        <div class="form-group">
            <label for="ad">Cinsiyet </label>
            <select data-form-element="gender" class="form-control">
                <<option value="Bay">Bay</option>
                <<option value="Bayan">Bayan</option>
            </select>
        </div>
    </div>
    <div class='col-xs-12 text-left moffset2 bottomset3'>
        <button type="button" class='acceptbtn'>Ekle</button>
        <button class='cancelbtn' data-dismiss='modal' href='javascript:void(0);'>İptal</button>
    </div>

</div>
<div style='clear:both;'></div>