<div class="container">
    <div class="contactpage-container">
        <div class="col-xs-12 col-sm-12 col-md-6 contact-form-container">
            <div class="form-group">
                <label for="name">Adınız Soyadınız</label>
                <input  data-form-element="name" class="form-control contactinput" name="name" maxlength="90" placeholder="Ad Soyad (Maks 90 karakter)">
            </div>
            <div class="form-group">
                <label for="eposta">E-Posta</label>
                <input  data-form-element="email" class="form-control contactinput"  name="email" maxlength="120" placeholder="E-Posta (Maks 120 karakter)">
            </div>
            <div class="form-group">
                <label for="mesaj">Mesajınız</label>
                <textarea class="form-control contactinput" data-form-element="message"   rows="5" cols="70" maxlength="300" name="message" placeholder="Bu alana mesajınızı yazınız. (Maks 300 karakter)"></textarea>

            </div>
            <a href="javascript:void(0);" class="send default_btn">Gönder</a>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="bs-callout bs-callout-info" id="callout-helper-context-color-specificity">
                <p>
                    <br />
                    <b>Menkule Bilgi Teknolojileri Turizm ve Pazarlama</b>
                    <br/>
                    <b>Yardım Merkezi:</b> (0850) 346 76 69
                </p>
                <p style="font-size: 12px;">Ağustos 2016 yılında kurulan Tekirdağ, merkezli Menkule, Çevrimiçi olarak Türkiye çapındaki benzersiz konaklama yerlerini kaydetmesi, keşfetmesi ve rezerve etmesine yönelik güvenilir bir hizmettir.<br/>

                    Menkule istediğiniz daire,oda,villa veya diğer konaklama seçeneklerini haftalık günlük belli bir tarih aralığından rezerve etmenize olanak sağlar. <br/> Ayrıca kullanmadığınız daire oda veya diğer konaklama imkanı sağlayan gayrimenkulünüzü kazanca çevirmenize olanak sağlar.
                    Menkule ile alternatif tatil seçeneklerinden faydalanabilir farklı yerler keşfedebilirsiniz.</p>

                <p><a href="/help" class="default_btn"> Yardım Merkezi</a></p>

                <div style="clear:both"></div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>