<div class="col-xs-12 text-center">
    <div class="bigmenu-profile-img">
        <img src="{{#image photo 150 150 }} {{/image}}" onerror="this.onerror=null;this.src='/assets/no-photo.png';" alt="profile photos">
    </div>
    <div class="bigmenu-profile-detail bottomset3">
        <div class="bigmenu-name moffset3 capitalize">
            {{name}} {{lastname}}
        </div>
    </div>
</div>
    <div class="col-xs-12">
        <p class="help-block">Lütfen şifrenizi ve gsm numaranızı kaydediniz. <br>  <b>GSM</b> numaranıza gönderilen onay kodu ile hesabınızı aktif edebilirsiniz. </p>
    </div>
    <div class="col-xs-12">
        <div class='col-xs-12 disable_padding moffset1'>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-mobile"></i></div>
                <input type="number" data-form-element="gsm" class="form-control pop-input" placeholder="Gsm Numaranız">
            </div>
        </div>
        <div class='col-xs-12 disable_padding moffset1'>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                <input type="password" data-form-element="password" class="form-control pop-input" placeholder="Şifreniz">
            </div>
        </div>
        <div class='col-xs-12 disable_padding moffset1'>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                <input type="password" data-form-element="reply" class="form-control pop-input" placeholder="Şifre tekrar">
            </div>
        </div>
        <div class='col-xs-12 col-md-12 disable_padding text-left moffset1 bottomset3'>
            <button type="button" class='forgot-btn fullwidth default_btn'>Gönder</button>
        </div>
    </div>


    <div class="col-xs-12">
        <div data-zone="notification"></div>
    </div>
<div style='clear:both;'></div>