.searchengine .required{
    border: 1px solid rgba(245, 7, 7, 0.49) !important;
    background: #fff !important;
}
.searchengine {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.28);
    padding: 20px;
    bottom: 0;
    vertical-align: middle;
    margin-top: 15px;
}
.searchengine .form-control {
    height: 45px;
}
.searchengine .searchcity {
    width: 350px;
}
.loadingvideo {
    background: url(../../img/cover.png);
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    top: 0px;
}
.loadingvideo i {
    color: #fff;
    vertical-align: middle;
    font-size: 50px;
    margin-top: 20px;
}
.searchcity {
    width: 750px;
    background-color: #fff;
    font-size: 16px!important;
    padding: 10px;
    font-family: 'Open Sans', sans-serif!important;
    border: 1px solid #73B2D6;
    color: #969696!important;
    font-size: 14px!important
}
.searchcity::-webkit-input-placeholder:before {
    font-family: FontAwesome;
    content: "\f015";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    color: #2492b8;
    margin-right: 10px;
    font-size: 18px
}
.select-type {
    border-radius: 0;
    background-color: #fff;
    display: inline;
    font-size: 14px!important;
    color: #444!important;
    padding: 10px;
    margin-right: 1px;
    font-family: 'FontAwesome', 'Open Sans', sans-serif
}
.select-type option {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #ccc;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)
}
.circle_iconcontainer {
    width: 60px;
    height: 60px;
    background: #45b5f4;
    border-radius: 50%;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    color: #fff;
    margin: auto
}
.circle-homepage h2 {
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 14px;
    color: #444;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif!important
}
.circle-homepage p {
    margin-top: 10px;
    font-size: 12px;
    color: #666
}
.home-message {
    margin-bottom: 60px;
    margin-top: 50px
}
.home-message h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #444
}
.home-message p {
    font-size: 15px;
    color: #666
}
.bluespan {
    color: #45B5F4;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 5px
}
.city1 {
    position: relative;
    height: 250px;
    background: url(../../img/tekirdag.jpg);
    background-size: cover;
    background-position: center;
    border-right: 10px solid #fff
}
.city2 {
    position: relative;
    height: 250px;
    background: url(../../img/izmir.jpg);
    background-size: cover;
    background-position: center
}
.city3 {
    position: relative;
    height: 250px;
    background: url(../../img/antalya.jpg);
    background-size: cover;
    background-position: center;
    border-right: 10px solid #fff
}
.city4 {
    position: relative;
    height: 250px;
    background: url(../../img/istanbul.jpg);
    background-size: cover;
    background-position: center
}
.home-searchbox-container{
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0;
  width: 100%;
}
.citybackground {
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.11);
    width: 100%;
    height: 100%;
    left: 0;
    font-size: 50px;
    text-align: center;
    color: #fff;
    padding-top: 70px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}
.citybackground:hover {
    background: rgba(116, 134, 170, 0.05);
    outline: 1px #fff solid;
    outline-offset: -10px;
    opacity: .8
}
.mappin {
    display: inline-block;
    height: 50px;
    width: 50px;
    background: #45B5F4;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    border-radius: 50%
}
.statename {
    display: inline-block;
    height: 50px;
    padding-top: 5px;
    font-size: 35px
}
.slide_faq .bx-wrapper {
    border: inherit
}
.slide_faq > h2 {
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #444;
    font-weight: 300;
    line-height: 2;
}
.slide_faq p {
    font-size: 12px;
    color: #666
}
.slide_faq div > h2 {
    font-size: 16px;
    color: #444;
    font-weight: 400
}
.heads {
    background: none
}
.easy-autocomplete input {
    width: 750px!important;
    background-color: #fff;
    padding: 10px!important;
    font-family: 'Open Sans', sans-serif!important;
    color: #969696!important;
    font-size: 14px!important;
    box-shadow: none!important;
    border-radius: 0;
    height: 45px
}
.easy-autocomplete-container ul {
    text-align: left
}
.homeownership {
    background: url(../../img/ev_sahipligi_yap.jpg);
    width: 100%;
    background-attachment: relative;
    background-position: center center!important;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    background-repeat: no-repeat!important
}
.select-type {
    border-radius: 0;
    background-color: #fff;
    display: inline;
    font-size: 14px!important;
    color: #969696!important;
    padding: 10px;
    font-family: 'FontAwesome', 'Open Sans', sans-serif;
    height: 46px
}
.lovestate i {
    color: #45b5f4;
    background: #fff;
    border: 1px solid #45b5f4;
    padding: 4px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    padding-top: 5px
}
.lovestate a {
    font-size: 24px;
    font-weight: 300;
    color: #666;
    margin: 20px 0 0 20px;
    border-right: 1px solid silver;
    padding-right: 20px;
    display: inline-block
}
.lovestate a:hover i {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    color: #fff;
    background: #45b5f4
}
.video-container {
    position: relative;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: #000;
    top: -45px
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    top: 0
}
@media all and (max-width: 768px) {
  .footer{
    position: fixed !important;
    bottom: 0px !important;
    background: none !important;
  }
  .footer-link{
    color: #fff;
    font-size: 14px;
  }
  .mobile-footer-container p{
    color:#fff;
  }
  .home-message p{
    color:#fff;
  }
  .home-message h2
  {
    color:#fff;
  }
  .home{
      background: url(../../img/cover_mobile.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
    .easy-autocomplete input {
        width: 100%!important
    }
    .video-container video {
        display: none
    }
    .video-container {
        bottom: 0;
        left: 0;
        overflow: inherit;
        top: 0
    }
    .home-message {
        margin-bottom: 10;
        margin-top: 10px;
    }
}
