<p>Bu rezervasyonun günlerini kapsayan başka rezervasyon talepleri bulunmaktadır.</p>
<p>Rezervasyonu onayladığınızda aşağıdaki rezervasyon talepleri iptal edilecektir.</p>
<h2>İşleme devam etmek istediğinize emin misiniz ?</h2>
<ul class='confirm-rezervation'>
{{#each rezervations}}
    <li><a class='link' target="_blank" href='/user/rezervation/{{id}}'>{{date checkin "DD MMMM YYYY, dddd"}}  /  {{date checkout "DD MMMM YYYY, dddd"}}  - {{days}} Gece -  {{#currency total_price 2 0 }} {{/currency}} TL.</a> </li>
{{/each}}
</ul>
