{{#each images}}
    <div data-fancybox="gallery" class="col-xs-5 col-sm-3 col-md-2 image" href="{{#image url 0 0 }} {{/image}}" style="background:url('{{#image url 150 150 }} {{/image}}');"></div>
{{/each}}