<div class="rezervation-detail-container">

    <div class="container">
        <div class="col-xs-12 page-title-container">
            <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a> <a href="/user/rezervations">Rezervasyonlarım</a><a href="javascript:void(0);">Rezervasyon Detayları</a>
        </div>


        <div class="col-xs-12 disable_padding container-rezervationdetail">
            <div class="col-xs-12 col-sm-12 col-md-3 rezervation-owner-detail">
                <img alt="photo" src='{{#image user.photo 150 150 }} {{/image}}' onerror="this.onerror=null;this.src='/theme/img/no-photo.png';" class="rezervation-detail-photo"></img>
                <span class="rezervation-detail-name">Doğan SALMAN</span>
                <span class="rezervation-detail-mail"><i class="fa fa-envelope-o"></i> ajusagmar@gmail.com</span>
                <span class="rezervation-detail-phone"><i class="fa fa-mobile"></i> 05342494520</span>
                <div style="clear: both"></div>
                <div class="col-xs-12 col-sm-12 col-md-12  text-center rezervation-state rezervation-load">
                    <i class="fa fa-clock-o rezervationbox_icon"></i>
                    <span class="rezervationbox-title"> Onaylandı</span>
                    <span class="rezervationbox-title_desc">Rezervasyon Durumu</span>
                </div>
                <div class="col-xs-12 col-sm-12 disable_padding text-left">
                    <div class="col-xs-6 disable_padding">
                        <span class="rezervation-detial-date"><i class="fa fa-calendar-o"></i> 10.10.2017</span>
                        <span class="rezervation-detial-date-state">Giriş Tarihi</span>
                    </div>
                    <span class="rezervation-detial-date"><i class="fa fa-calendar-o"></i> 15.10.2017</span>
                    <span class="rezervation-detial-date-state">Çıkış Tarihi</span>
                    <div class="col-xs-6 disable_padding">
                        <span class="rezervation-detial-date"><i class="fa fa-clock-o"></i> 09:40</span>
                        <span class="rezervation-detial-date-state">Giriş Saati</span>
                    </div>
                    <span class="rezervation-detial-date"><i class="fa fa-clock-o"></i> 12:00</span>
                    <span class="rezervation-detial-date-state">Çıkış Saati</span>
                </div>
                <div class="col-xs-12 col-sm-12  disable_padding rezervation-detail-city-container">
                    <span class="rezervation-detail-city">Tekirdağ / Çorlu</span>
                </div>
                <div  class="col-xs-12 col-sm-12  disable_padding rezervation-detail-cancel">
                     <span class="rezervation-detail-cancel-title">
                     Rezervasyon İptal
                     </span>
                    <span class="rezervation-cancel-date">
                     Rezervasyonunuzu <b> 12.10.2017</b> tarihine kadar ücretsiz iptal edebilirsiniz. <br/> Rezervasyonu iptal edebilmeniz için  <b>2</b>  gün süreniz bulunmaktadır.
                     </span>
                    <a class="rezervation-cancel" href="javascript:void(0);"><i class="fa fa-exclamation-circle"></i> Rezervasyonunuzun İptal Et </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 disable_padding">
                    <a href="javascript:void(0);"  class="rezervation-detail-sendmessage">İlan Sahinine Mesaj Gönder</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 disable_padding rezervation-detail-rightbox">
                <div class="col-xs-12 col-sm-4 col-md-4 rezervation-detail-box">
                    <span class="rezervation-detail-icon">450.00 TL<i class="fa fa-try "></i> </span>
                    Toplam tutar
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 rezervation-detail-box">
                    <span class="rezervation-detail-icon">5 Gün <i class="fa fa-calendar"></i> </span>
                    Toplam Gün
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 rezervation-detail-box">
                    <span class="rezervation-detail-icon">3 Misafir <i class="fa fa-bed"></i> </span>
                    Toplam Misafir
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 disable_padding rezervation-advert-properties">
                <div class="col-xs-12- col-sm-12 col-md-6 rezervation-advert-posiblies">
                    <div class="checkbox advert-possibility posible1">
                        <label>
                            <input type="checkbox">
                            İnternet
                        </label>
                    </div>
                    <div class="checkbox advert-possibility posible2">
                        <label>
                            <input type="checkbox">
                            Klima
                        </label>
                    </div>
                    <div class="checkbox advert-possibility posible3">
                        <label>
                            <input  type="checkbox">
                            Televizyon
                        </label>
                    </div>
                    <div class="checkbox advert-possibility posible4">
                        <label>
                            <input type="checkbox">
                            Jakuzi
                        </label>
                    </div>
                    <div class="checkbox advert-possibility posible5">
                        <label>
                            <input type="checkbox">
                            Temel İhtiyaçlar (Havlu, Sabun, Şampuan vb.)
                        </label>
                    </div>
                    <div class="checkbox advert-possibility posible6">
                        <label>
                            <input type="checkbox">
                            Isıtma
                        </label>
                    </div>
                    <div class="checkbox advert-possibility posible7">
                        <label>
                            <input  type="checkbox">
                            Mutfak
                        </label>
                    </div>
                    <div class="checkbox advert-possibility posible8">
                        <label>
                            <input type="checkbox">
                            Spor Salonu
                        </label>
                    </div>
                    <div class="checkbox advert-possibility posible9">
                        <label>
                            <input type="checkbox">
                            Asansör
                        </label>
                    </div>
                    <div class="checkbox advert-possibility posible10">
                        <label>
                            <input  type="checkbox">
                            Sigara İçilebilen
                        </label>
                    </div>
                    <div class="checkbox advert-possibility posible11">
                        <label>
                            <input type="checkbox">
                            Evcil Hayvan Kabul Edilebilen
                        </label>
                    </div>
                </div>
                <div class="col-xs-12- col-sm-12 col-md-6 properties">
                    <span class="property"><i class="fa fa-home"></i> <span class="property_value">255</span> metrekare </span>
                    <span class="property"><i class="fa fa-tint"></i> <span class="property_value">3</span> Banyolu</span>
                    <span class="property"><i class="fa fa-bed"></i> <span class="property_value">2</span> Yataklı</span>
                    <span class="property"><i class="fa fa-home"></i> <span class="property_value">4</span> Odalı</span>
                    <span class="property"><i class="fa fa-bed"></i> <span class="property_value">2</span> Yatak Odalı</span>
                    <span class="property"><i class="fa fa-users"></i> <span class="property_value">6</span> Maksimum Kisi</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 disable_padding rezervation-home-images">
                <ul class="rezervation-home-slide" style="text-align: center">
                    <li class="rezervation-image-gallerylistitem">
                        <img  alt="Fotoğraf" src='{{#image user.photo 150 150 }} {{/image}}' />
                    </li>


                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 disable_padding rezervation-home-map">
                <div id="map" style="width: 100%; height: 400px;"></div>
            </div>
        </div>

    </div>


</div>
