<div class="container">
    <div class="col-xs-12 disable_padding container_helpcenter">
        <div class="col-xs-12 col-sm-12 col-md-12 disable_padding">
            <div id="ev_sahipligi_nasil_yapabilirim" class="col-xs-12">
                <h2>Ev Sahipliği Nasıl Yapabilirim ?</h2>
                <p class="pleft">
                    <img style="width:65px;height:65px;float:left;margin-right:10px" src="../../../assets/help-icon.png" /> Ev sahipliği yapabilmeniz için öncelikle menkule.com.tr'a üye olmanız gerekmektedir. Üye olmak için <a href="/user/register">Üye ol</a> sayfasını ziyaret edebilirsiniz.
                    Üye olduktan sonra üyeliğinizin aktif olabilmesi için üye olurken kullandığınız e-posta adresinize otomatik olarak gönderilen onay iletisini onaylamalısınız.
                    Üyeliğinizi onayladıktan sonra üyelik bilgileriniz ile <a href="/giris">Üye Girişi</a> yapabilirsiniz. Üye girişi yaptıktan sonra <a href="/user/advert/create">İlan Ekle</a> sayfasını ziyaret ederek ilanınızı ekleyebilirsiniz.
                </p>
            </div>
            <div id="menkule_nedir" class="col-xs-12">
                <h2>Menkule Nedir ?</h2>
                <p class="pleft">
                    <img style="width:65px;height:65px;float:left;margin-right:10px" src="../../../assets/help-icon.png" /> Evinizi, yazlığınızı veya kullanmadığınız boş odanızı değelendirebileceğiniz imkanlar sunar, Alternatif tatil seçenekleri ile uygun fiyatlarla bulabileceğiniz yüzlerce ev menkule.com.tr'da Taşınmaz ilanlarınızı bir limite takılmaksızın ekleyebilirsiniz. Eklediğiniz ilanları tüm Türkiye'de milyonlara ulaştırabilirsiniz.
                </p>
            </div>
            <div id="nasil_uye_olabilirim" class="col-xs-12">
                <h2>Nasıl Üye Olabilirim ?</h2>
                <p class="pleft">
                    <img style="width:65px;height:65px;float:left;margin-right:10px" src="../../../assets/help-icon.png" /><a href="/user/register">Üye Ol</a> sayfasını ziyaret ederek e-posta,isim,soyisim,gsm no bilgilerizi belirterek menkule.com.tr a üye olabilirsiniz. Bu bilgiler kesinlikle 3. gerçek veya tüzel kişi ve kurumla paylaşılmamaktadır. Üyeliğinizin aktif olabilmesi için kayıt olurken kullandığınız e-posta adresinize gönderilen onay iletisindeki onay bağlantısına tıklayarak hesabınızı onaylayabilirsiniz.<a href="/user/policy/">Üyelik sözleşmesi</a> tamamını inceleyebilirsiniz.
                </p>
            </div>
            <div id="nasil_ilan_eklerim" class="col-xs-12">
                <h2>İlan Nasıl Ekleyebilirim ?</h2>
                <p class="pleft">
                    <img style="width:65px;height:65px;float:left;margin-right:10px" src="../../../assets/help-icon.png" /> İlan ekleyebilmeniz için üyeliğinizin onaylanmış olması gerekmektedir. Üyelik ile ilgili detayları <a href="#nasil_uye_olabilirim">Nasıl Üye Olabilirim</a> başlığı altında bulabilirsiniz.<br />İlan eklemek için <a href="/user/advert/create">İlan Ekle</a> sayfasını ziyaret edebilirsiniz. <br /> <br /> İlan oluşturulurken bilmeniz gerekenler;<br />
                    <b>İlan Başlığı:</b> En fazla 255 karakterden oluşabilir.<br />
                    <b>Rezervasyon İptal Süresi:</b> Onaylanan bir rezervasyonun ücretsiz iptal edilebilecek maksimum süreyi belirtmektedir.<br />
                    <b>Müsaitlik Tarih Aralığı:</b> İlanınız belirtilen müsaitlik tarih aralığında görüntülenecektir.
                </p>
            </div>
            <div id="rezervasyon_kontrolu" class="col-xs-12">
                <h2>Rezervasyon Taleplerini Nasıl Kontrol Edebilirim ?</h2>
                <p class="pleft">
                    <img style="width:65px;height:65px;float:left;margin-right:10px" src="../../../assets/help-icon.png" /> Rezervasyon taleplerinizi <a href="/uye/rezervasyon">Rezervasyonlar</a> sayfasından takip edebilirsiniz. İlanınız ile ilgili rezervasyon talebi oluşturulduğunda sizlere bildirim,eposta ve sms yolu ile uyarı iletilmektedir.
                </p>
            </div>
            <div id="uyelik_iptali" class="col-xs-12">
                <h2>Üyeliğimi Nasıl İptal Edebilirim ?</h2>
                <p class="pleft">
                    <img style="width:65px;height:65px;float:left;margin-right:10px" src="../../../assets/help-icon.png" />Üyeliğinizin iptali için öncelikle üye girişi yapmanız gerekmektedir. <a href="/hesabim">Hesabım</a> sayfasından <b>Hesabımı dondurmak istiyorum.</b> seçeneğini
                    kullanarak üyeliğinizi nedenini belirterek iptal edebilirsiniz.
                </p>
            </div>
        </div>
    </div>
</div>