<div class="col-xs-12">
    <div class="col-xs-6 col-sm-6 col-md-6 text-left disable_padding"><span>Toplam</span></div>
    <div class="col-xs-6 col-sm-6 col-md-6 text-right disable_padding"><span>{{#currency total 2 0 }} {{/currency}} TL</span></div>
</div>
<div class="col-xs-12">
    <div class="col-xs-6 col-sm-6 col-md-6 text-left disable_padding"><span>Toplam Gün</span></div>
    <div class="col-xs-6 col-sm-6 col-md-6 text-right disable_padding"><span>{{day}} Gün</span></div>
</div>
<div class="col-xs-12">
    <div class="col-xs-6 col-sm-6 col-md-6 text-left disable_padding"><span>Konaklama</span></div>
    <div class="col-xs-6 col-sm-6 col-md-6 text-right disable_padding"><span>{{day}} x {{#currency day_price 2 0 }} {{/currency}} TL</span></div>
</div>