<div class='col-xs-12 rezervation-form-container'>
    <h2>Giriş / Çıkış </h2>
    <div class="col-xs-12 paddingset4">
        <input type="text" data-form-element="date" placeholder="Giriş Tarihi / Çıkış Tarihi" class="form-control calendar fullwidth"/>
    </div>

    <div style="clear:both;"></div>
    <h2 class="moffset2">Kişisel Bilgi</h2>
    <div class="col-xs-12 borderer paddingset4">
        <div class="form-group">
            <label for="ad">Ad </label>
            <input type="text" data-form-element="name" class="form-control" value="{{name}}" maxlength="90" placeholder="Ad">
        </div>
        <div class="form-group">
            <label for="ad">Soyad</label>
            <input type="text" data-form-element="lastname" class="form-control" value="{{lastname}}" maxlength="90" placeholder="Soyad">
        </div>
        <div class="form-group">
            <label for="eposta">E-Posta</label>
            <input type="text" data-form-element="email" class="form-control" value="{{email}}" maxlength="120" placeholder="E-Posta">
        </div>
        <div class="form-group">
            <label for="cinsiyet">Cinsiyet</label>
            <select data-form-element="gender" name="gender" class="form-control">
                <option value="Bay">Bay</option>
                <option value="Bayan">Bayan</option>
            </select>
        </div>
        <div class="form-group">
            <label for="gsm">GSM No</label>
            <div class="input-group">
                <div class="input-group-addon">0</div>
                <input type="tel" data-form-element="gsm" class="form-control" mask="0000000000" value="{{gsm}}" maxlength="10" placeholder="5550000000 ">
            </div>
        </div>
        <div class="form-group">
            <label for="tc">TC No: </label>
            <input type="number" data-form-element="identity_no"  mask="00000000000" maxlength="11" class="form-control" placeholder="TC kimlik numarası">
        </div>
        <div class='col-xs-12 modal-buttoncontainer disable_padding text-left'>
            <p>Formdaki </p>
            <a class='acceptbtn' href='javascript:void(0);'>Kaydet ve Onayla </a>
            <a class='cancelbtn' data-dismiss='modal' href='javascript:void(0);'>İptal</a>
        </div>
    </div>
    <div style="clear:both;"></div>

    <h2 class="moffset2">Paylaş</h2>
    <div class="col-xs-12 borderer paddingset4">
        <p>Seçtiğiniz tarih aralığında rezervasyon talebini paylaşabilirsiniz.</p>
        <div class="checkbox checkbox-info">
            <input data-form-element="share_gsm" id="share_gsm" type="checkbox" />
            <label for="share_gsm">GSM No ile Paylaş</label>
        </div>
        <div class="checkbox checkbox-info">
            <input data-form-element="share_email" id="share_email" type="checkbox" />
            <label for="share_email">E-posta ile Paylaş</label>
        </div>
        <input class="form-control" style="display: none" data-form-element="email" placeholder="E-posta adresi" id="share_email" type="email" />
        <a class='default_btn share_btn'>Paylaş </a>
    </div>
</div>

<div style='clear:both;'></div>