<div id="calendar" class='col-xs-12'></div>

<div style='clear:both'></div>
<div class='col-xs-12 modal-buttoncontainer text-left'>
    <button class='acceptbtn' data-loading-text="Tarih Seçiniz">Devam Et</button>
    <button class='cancelbtn' data-dismiss='modal'>İPTAL</button>
</div>
<div style='clear: both;'></div>