<div class='modal fade-scale' tabindex='-1' role='dialog'>
    <div class='modal-dialog' style='width: {{width}};'>
        <div class='modal-content' data-zone="modal-content">
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span >&times;</span></button>
                <h4 class='modal-title'>{{title}}</h4>
            </div>
            <div class='modal-body' data-zone="modal-body">
                <h3><i class="fa fa-circle-o-notch fa-spin"></i> {{waitMessage}}</h3>
            </div>
        </div>
    </div>
</div>
