<div>
    <div class='col-xs-12 popuplogin text-center'>
        <p class='text-left'>Kayıtlı e-posta adresinizi yazınız. Şifre bilginiz e-posta adresinize iletilecektir.</p>
    </div>
    <div class="col-xs-12 forgot-container">
        <div class='col-xs-12 col-md-8 disable_padding moffset1'>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                <input type="email" data-form-element="email" class="form-control pop-input" placeholder="E-posta adresinizi yazın.">
            </div>
        </div>
        <div class="col-md-1 hidden-xs"></div>
        <div class='col-xs-12 col-md-3 disable_padding text-left moffset1 bottomset3'>
            <button type="button" class='forgot-btn fullwidth default_btn'>Gönder</button>
        </div>
    </div>
    <div class="col-xs-12 col-xs-12 moffset1 bottomset1">
        <div class="line"></div>
    </div>
    <div class="col-xs-12">
    <p class="help-block">Hesabınıza erişim ile ilgili sorun yaşıyorsanız  aşağıdaki adresi kullanarak bizim ile iletişime geçin.
      <br/>  <b>Destek için</b> yardim@menkule.com.tr</p>
    </div>
    <div class="col-xs-12">
        <div data-zone="notification"></div>
    </div>

</div>
<div style='clear:both;'></div>