<div class="col-xs-12">
    <div class="col-xs-6 col-sm-6 col-md-6 text-left"><span>{{day}} Gece x {{#currency day_price 2 0 }} {{/currency}} TL</span></div>
    <div class="col-xs-6 col-sm-6 col-md-6 text-right"><span>{{#currency total 2 0 }} {{/currency}} TL</span></div>
</div>
<div class="col-xs-12">
    <div class="col-xs-6 col-sm-6 col-md-6 text-left"><span>Konaklama</span></div>
    <div class="col-xs-6 col-sm-6 col-md-6 text-right"><span>{{#currency day_price 2 0 }} {{/currency}} TL</span></div>
</div>
<div class="col-xs-12">
    <div class="col-xs-6 col-sm-6 col-md-6 text-left"><span>Toplam</span></div>
    <div class="col-xs-6 col-sm-6 col-md-6 text-right"><span>{{#currency total 2 0 }} {{/currency}} TL</span></div>
</div>