@import "third-party.css";
@import "style.css";
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?nqwdoh');
    src:  url('fonts/icomoon.eot?nqwdoh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nqwdoh') format('truetype'),
    url('fonts/icomoon.woff?nqwdoh') format('woff'),
    url('fonts/icomoon.svg?nqwdoh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


