{{#each message}}
    <div class='messagefullText'>
                        <span class='messagefulltext-message'>
                            <p><strong>{{fullname}}:</strong> {{message}}</p>
                            <span class='hiden-xs hidden-sm message-time'> {{fromNow date}} </span>
                        </span>
    </div>
{{/each}}