<div style='clear: both;'></div>
<div class="popuplogin-container">
    <div class='col-xs-12 popuplogin moffset3 text-center'>
        <p>Merhaba, devam etmek için lütfen üye girişi yapın.</p>
    </div>

    <form autocomplete="off" method="post">
    <div class='col-xs-12 moffset1'>
        <input type='email' data-form-element="username" class='form-control pop-input' placeholder='E-posta adresiniz'>
    </div>
    <div class='col-xs-12 moffset1'>
        <input type='password' data-form-element="password" class='form-control pop-input' placeholder='Şifreniz'>
    </div>
    <div class='col-xs-12 moffset1'>
        <div style="clear:both;"></div>
        <div data-zone="notification"></div>
    </div>
    </form>

    <div class='col-xs-12 text-left moffset1'>
        <button type="button" class='login-btn default_btn' style='width: 100%;text-align: center;'>Giriş</button>
    </div>
    <div data-zone="facebook-login" class='col-xs-12 text-left moffset1'>
        <a href="javascript:void(0);" class="fullwidth text-center login-page-withfacebook"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook İle Bağlan</a>
    </div>
    <div class='col-xs-6 text-left moffset3 bottomset4'>
        <a href='/user/register'>Kayıt Ol</a>
    </div>
    <div class='col-xs-6 text-right moffset3 bottomset4'>
        <a class='forgotpassword' href='#'>Şifremi Unuttum</a>
    </div>
</div>
<div style='clear:both;'></div>