<div class="col-xs-12">
    <h2 class="modaltitle">{{title}}</h2>
    <h2></h2>
    <p class="modaldesc">{{{message}}}</p>
</div>
<div class='col-xs-12 modal-buttoncontainer text-center'>
    <button class='acceptbtn' href='#'>Evet</button>
    <button class='cancelbtn' href='#'>Hayır</button>
</div>
<div style="clear: both;"></div>