<div class="col-xs-12">
    <h2 class="modaltitle">{{title}}</h2>
    <h2></h2>
    <p class="modaldesc">{{{message}}}</p>
</div>
<div class='col-xs-12 modal-buttoncontainer {{#if Center}} text-center {{/if}}'>
    <button class='acceptbtn' href='#'>{{Ok}}</button>
    <button class='cancelbtn' href='#'>{{Cancel}}</button>
</div>
<div style="clear: both;"></div>