<div class='modal fade-scale' tabindex='-1' role='dialog'>
    <div class='modal-dialog' style='width:{{width}}px'>
        <div class='modal-content' data-zone="modal-content">
            <div class='modal-header'>
                <h4 class='modal-title'>{{title}}</h4>
            </div>
            <div class='modal-body'>
                <h3><i class="fa fa-circle-o-notch fa-spin"></i> {{waitMessage}}</h3>
            </div>
        </div>
    </div>
</div>
