<div class='col-xs-12 disable_padding'>
    <div class="changepassword-container">
        <p class='modaldesc'>Şifrenizi güncellemek üzeresiniz, İşleme devam etmek için aşağıdaki formu eksiksiz olarak doldurunuz.</p>
        <div class="col-xs-12 col-sm-12 col-md-12 disable_padding">
            <div class="form-group">
                <label for="currentpassword">Şifreniz</label>
                <input data-form-element="currentpassword" type="password" class="form-control" id="currentpassword" name="currentpassword" placeholder="Şifre">
            </div>
            <div class="form-group">
                <label for="password">Yeni Şifre</label>
                <input data-form-element="password" type="password" class="form-control" id="password" name="password" placeholder="Şifre">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 disable_padding">
            <div class="form-group">
                <label for="reply">Yeni Şifre Tekrar</label>
                <input data-form-element="reply" type="password" class="form-control" id="reply" name="reply" placeholder="Şifre">
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
    <div data-zone="notification"></div>
</div>
<div class='col-xs-12 disable_padding modal-buttoncontainer text-center'>
    <a class='acceptbtn' href='javascript:void(0);'>Tamam </a>
    <a class='cancelbtn' data-dismiss='modal' href='javascript:void(0);'>İptal</a>
</div>
<div style='clear:both;'></div>