<div class="col-xs-12 moffset1 calender-detail">
    <div>
        <h3>Toplam Rezervasyon</h3>
        <label> {{reserved}}/<strong>365</strong> Gün </label>
    </div>
    <div>
        <h3>Rezervasyon Oranı</h3>
        <label> <p class="rez-point">%{{percent}}</p> </label>
    </div>
    <p class="moffset2">İlanınızın takvimi içinde bulunduğumuz yılın bilgilerinden derlenmiştir.</p>
</div>