<div class="footer hidden-xs hidden-sm">
   <div class="container">
      <div class="row">
         <div class="footer_container">
            <div class="hidden-xs hidden-sm col-md-6 footer-email-suggestions">
               <h2><strong>E-posta listesine kayit olun !</strong></h2>
               <span style="font-size: 12px">E-Posta listesine kayıt olarak güncel ilanlar ve fırsatlarlardan haberdar olabilirsiniz.</span>
               <div class="col-xs-10" style="margin-top:20px; padding: 0px;">
                  <input type="text" data-form-element="email" placeholder="E-Posta Adresiniz" maxlength="90" class="form-control list_mail"></input>
               </div>
               <div class="col-xs-2" style="margin-top: 25px; padding: 2px;">
                  <a href="javascript:void(0);" class="sendmail_btn"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
               </div>
            </div>
            <div class="hidden-xs hidden-sm col-md-6">
               <div class="hidden-xs hidden-sm col-md-4">
                  <h5>Hesap</h5>
                  <ul>
                     {{#notLogged}}
                     <li><a class="footer-members" href="/user/register">Kayıt</a></li>
                     <li><a href="/contact">İletişim</a></li>
                     {{/notLogged}}
                     {{#isLogin}}
                      <li><a class="footer-members" href="/user/account/">Hesabım</a></li>
                      <li><a class="footer-members" href="/user/alerts">Bildirim</a></li>
                      <li><a class="footer-members" href="//user/messages">Mesaj</a></li>
                     {{/isLogin}}
                  </ul>
                  <h5>Sosyal Medya</h5>
                  <ul class="footer-social-icons">
                     <li>
                        <a  class="icon" target="_blank" href="https://www.facebook.com/menkule"><i class="fa fa-facebook-official"></i></a>
                        <a class="icon" target="_blank" href="https://twitter.com/menkule"><i class="fa fa-twitter-square"></i></a>
                        <a class="icon" target="_blank" href="https://instagram.com/menkule.com.tr"><i class="fa fa-instagram"></i></a>
                        <a class="icon" target="_blank" href="https://www.youtube.com/channel/UC3U9mORRGSXpts65jfkjsLg"><i class="fa fa-youtube-square"></i></a>
                     </li>
                  </ul>
               </div>
               <div class="hidden-xs hidden-sm col-md-4">
                  <h5>Destek</h5>
                  <ul>
                    <li> <span>(0850) 346 7669</span> </li>
                    <li> <span>iletisim@menkule.com.tr</span> </li>
                    <li> <a href="/contact">İletişim</a> </li>
                  </ul>
               </div>
               <div class="hidden-xs hidden-sm col-md-4">
                  <h5>Yardım</h5>
                  <ul>
                     <li>
                        <a href="/help/ev_sahipligi_nasil_yapabilirim"> Ev Sahipliği</a>
                     </li>
                     <li>
                        <a href="/help/nasil_uye_olabilirim"> Nasıl Üye Olurum</a>
                     </li>
                     <li>
                        <a href="/help/nasil_ilan_eklerim"> İlanlar Hakkında</a>
                     </li>
                     <li>
                        <a href="/help/rezervasyon_kontrolu"> Rezervasyonlar</a>
                     </li>
                  </ul>
               </div>
            </div>
            <div style="display: none;" class="hidden-xs hidden-sm col-md-6">
               <div class="col-md-3 footerlogo">
                  <a href="/"><img src="/assets/left_footer_logo.png"></img></a>
               </div>
               <div class="col-md-9">
                  <h4>Menkule Nedir ?</h4>
                  <p style="font-size:11px">Evinizi, yazlığınızı veya kullanmadığınız boş odanızı değelendirebileceğiniz imkanlar sunar, Alternatif tatil seçenekleri ile uygun fiyatlarla bulabileceğiniz yüzlerce ev menkule.com.tr'da  </p>
               </div>
            </div>
            <div class="hidden-xs hidden-sm col-md-12 footeralerts">
               <img src="/assets/menkule-icon.png" class="menkuleicon"> <span class="menkule">menkule.com.tr</span>'da yer alan kullanıcıların oluşturduğu tüm içerik, görüş ve bilgilerin doğruluğu, eksiksiz ve değişmez olduğu, yayınlanması ile ilgili yasal yükümlülükler içeriği oluşturan kullanıcıya aittir. Bu içeriğin, görüş ve bilgilerin yanlışlık, eksiklik veya yasalarla düzenlenmiş kurallara aykırılığından <img src="/assets/menkule-icon.png" class="menkuleicon"> <span class="menkule">menkule.com.tr</span> hiçbir şekilde sorumlu değildir. Sorularınız için ilan sahibi ile irtibata geçebilirsiniz.
            </div>
         </div>
      </div>
   </div>
</div>
<div class="footer_bottom hidden-sm hidden-xs">
   <div class="container">
      <div class="row">
         <div class="hidden-xs hidden-sm col-md-12">
            <div class="col-md-6 text-left" style="padding:10px;">
               <a href="https://www.facebook.com/menkule/"><i class="fa fa-facebook-official icon_social"></i></a>
               <a href="https://twitter.com/menkule"><i class="fa fa-twitter-square icon_social"></i></a>
               <a href="http://instagram.com/menkule.com.tr"><i class="fa fa-instagram icon_social"></i></a>
               <a href="https://www.youtube.com/channel/UC3U9mORRGSXpts65jfkjsLg"><i class="fa fa-youtube icon_social"></i></a>
            </div>
            <div class="col-md-6 text-right" style="padding:10px;">
               <span class="footer-copyright">Copyright © 2016 menkule.com.tr</span>
               <a href="#"><i class="fa fa-cc-mastercard icon_social"></i></a>
               <a href="#"><i class="fa fa-cc-visa icon_social"></i></a>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="col-xs-12 text-center mobile_footer hide">
   <div class="col-xs-12 mobile-footer-container">

   </div>
   <div class="col-xs-12 mobile-footer-container">
      <a class="footer-link" href="/">Menkule</a>
      <span>|</span>
       <a class="footer-link" href="/contact">İletişim</a>
      <span>|</span>
       <a class="footer-link" href="/help">Yardım</a>
   </div>
   <div class="col-xs-12 mobile-footer-container">
      <a class="footer-link" href="#"><i class="fa fa-facebook-square"></i></a>
      <a class="footer-link" href="#"><i class="fa fa-twitter-square"></i></a>
      <a class="footer-link" href="#"><i class="fa fa-instagram"></i></a>
      <a class="footer-link" href="#"><i class="fa fa-pinterest-square"></i></a>
      <a class="footer-link" href="#"><i class="fa fa-youtube"></i></a>
   </div>
   <div class="col-xs-12 mobile-footer-container">
      <p class="copyright">Copyright ©  Menkule, All Rights Reserved. 2017<br></p>
   </div>
</div>
