<div data-index="-1" class="col-xs-12" style="cursor: pointer;">
    <div class='col-xs-12 col-sm-12 col-md-12'>
        <p class="disable_margin text-center" style="padding: 17px 0px 0px 10px;">Rezervasyonlarını incelemek istediğiniz ilanınızı seçin.</p>
        <p  class="disable_margin text-center" style="font-size:11px"> Onay bekleyen tüm rezervasyon taleplerini görüntüle. </p>
    </div>
</div>
