<div class="container">
    {{#if dropdown}}
        <div class="list col-xs-12 disable_padding">
            <div  class="advert-selected" data-zone="advert-selected">
                <p class="disable_margin text-center" style="padding: 17px 0px 0px 10px;">Rezervasyonlarını incelemek istediğiniz ilanınızı seçin.</p>
                <p  class="disable_margin text-center" style="font-size:11px"> Onay bekleyen tüm rezervasyon taleplerini görüntüle. </p>
            </div>
            <div style="clear:both"></div>
            <div id="advert-list" class="col-xs-12 advert-selectlist" data-zone="advert-list"></div>
            <div style="clear:both"></div>
        </div>
    {{/if}}
    <div class="col-xs-12 disable_padding" data-zone="tabs"></div>
    <div class="col-xs-12 disable_padding rezervation-list" data-zone="rezervation-list"></div>

</div>
<div class="container" style="min-height: inherit;">
    <div class="col-xs-12 disable_padding text-right moffset2 bottomset2">
        <div class="rezervation-state wait"></div> Onay Bekleniyor
        <div class="rezervation-state cancel"></div> İptal Edildi
        <div class="rezervation-state approved"></div> Onaylandı
    </div>
</div>