<div class="container">
    <div class="advert-selected list col-xs-12 disable_padding">
        <div class="col-xs-12 disable_padding" id="advert-selected" data-zone="advert-selected">
            <p style="padding:10px;">Tüm Rezervasyon Talepleri</p>
        </div>
        <div style="clear:both"></div>
        <div id="advert-list" class="col-xs-12 advert-selectlist" data-zone="advert-list"></div>
        <div style="clear:both"></div>
    </div>

    <div class="col-xs-12 disable_padding" data-zone="rezervation-list">

    </div>

</div>