<div class="moffset3 bottomset2 disable_padding  col-xs-12 col-sm-12 col-md-12 text-center rezervation-tabs">
    <div class="waiting tab">Onay Bekliyor <span>{{waiting}}</span></div>
    <div class="approved tab">Onaylanan <span>{{approved}}</span></div>
    <div class="cancaled tab">İptal Edildi <span>{{canceled}}</span></div>
</div>