<div class="moffset3 bottomset2 disable_padding  col-xs-12 text-center rezervation-tabs">
    <div class="approved">Onaylanan <span>3</span></div>
    <div class="cancaled">İptal Edildi <span>3</span></div>
    <div class="waiting">Onay Bekliyor <span>3</span></div>
</div>