<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 moffset2 bottomset2">
        <h2>Şifre Yenileme !</h2>
        <p>Şifrenizi güncellemek üzeresiniz, İşleme devam etmek için aşağıdaki formu eksiksiz olarak doldurunuz.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 disable_padding">
        <div class="changepassword-container">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                    <label for="password">Yeni Şifre</label>
                    <input data-form-element="password" type="password" class="form-control" id="password" name="password" placeholder="Şifre">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                    <label for="reply">Yeni Şifre Tekrar</label>
                    <input data-form-element="reply" type="password" class="form-control" id="reply" name="reply" placeholder="Şifre">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <button class="default_btn">Tamam</button>
            </div>
        </div>
    </div>


</div>