<div style='clear: both;'></div>
<div class="comment-container">
    <div class="col-xs-12 col-sm-12 col-md-12 moffset2">
        <h2 class="disable_margin">Lütfen aşağıdaki formu doldurun.</h2>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 moffset1">
        <p>Yorumunuz en kısa sürede onaylanarak yayınlanacaktır.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 disable_padding moffset2">
        <div class='col-xs-12 moffset1'>
            <textarea style="min-height:100px" data-form-element="comment" maxlength="300" placeholder="Yorumunuzun (Maks. 500 karakter)" class="form-control"></textarea>
        </div>

        <div class='col-xs-12 text-left moffset2'>
            <button type="button" class='comment-btn default_btn'>Tamam</button>
        </div>

        <div class='col-xs-12 moffset1'>
            <div style="clear:both;"></div>
            <div data-zone="notification"></div>
        </div>
    </div>
</div>
<div style='clear:both;'></div>